<div *ngIf="vehicle">
    <div class="row" >
        <div class="thumbnail col-md-6"  >
            <div class="caption">
                <h4>{{vehicle.name}}</h4>
                <p class="well">
                    {{vehicle.description}}
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <button class="btn btn-default" >Next</button>
            <!--<a class="btn btn-default" [routerLink]="['/vehicles', (vehicle.id + 1)]">
                Next
			</a>-->
        </div>
    </div>
</div>
