<div class="container">
    <div class="page-header">
        <mat-toolbar>
            <button mat-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
            MPGTracker
        </mat-toolbar>
        
        <mat-menu #menu="matMenu">
            <button mat-menu-item [routerLink]="['/mileages', (selectedVehicle != undefined ? selectedVehicle.id : '')]">Mileages</button>
            <button mat-menu-item [routerLink]="['/addMileage', (selectedVehicle != undefined ? selectedVehicle.id : '')]">Add New MPG</button>

                <button mat-menu-item [routerLink]="['/addVehicle']">Add a New Vehicle</button>

                <button mat-menu-item [routerLink]="['/changePassword']">Change Password</button>

                <button mat-menu-item *ngIf="authenticationService.currentTokenValue.userType==='administrator'" 
                [routerLink]="['/manageUsers']">Manage Users</button>

                <button mat-menu-item [routerLink]="['/logout']">Logout</button>

                <span mat-menu-item class="small">Logged in {{authenticationService.currentTokenValue.lastLoginDate | date :'medium':'EST'}}</span>

        </mat-menu>
        <div class="alert" *ngIf="displayErrorMessage" (click)="displayErrorMessage = false; errorMessage = ''">
            <span class="closebtn">&times;</span>
            {{errorMessage}}
        </div>
        <div class="alert success" *ngIf="displayInfoMessage" (click)="displayInfoMessage = false; infoMessage = '';">
            <span class="closebtn">&times;</span>
            {{infoMessage}}
        </div>
    </div>
    <router-outlet></router-outlet>
</div>