<form #mileageForm="ngForm" class="mileage-form" (ngSubmit)="onSave(mileageForm)">
    <div class="thumbnail" >
        <div class="caption">
            <div ngModelGroup="vehicle">
                <div class="form-group" [ngClass]="setErrorClass(nameDirective)">
                    <label class="control-label" for="vehicleName">Name</label>
                    <input [ngModel]="vehicle.name" #nameDirective="ngModel"
                        class="form-control" type="text"
                        id="vehicleName" name="name"
                        placeholder="enter name" autofocus
                        required minlength="3"
                        #nameControl>
                </div>
                <br>
                <div [hidden]="hideErrors(nameDirective)">
                    <div [hidden]="hideError(nameDirective, 'required')"
                         class="alert alert-danger">
                         Name is required.
                    </div>
                    <div [hidden]="hideError(nameDirective, 'minlength')"
                         class="alert alert-danger">
                         Name needs to be at least 3 characters long.
                    </div>
                </div>
                <br>
                <div class="form-group" [ngClass]="setErrorClass(makeDirective)">
                    <label class="control-label" for="vehicleMake">Make</label>
                    <input [ngModel]="vehicle.make" #makeDirective="ngModel"
                        class="form-control" type="text"
                        id="vehicleMake" name="make"
                        placeholder="enter make"
                        required minlength="3"
                        #makeControl>
                </div>
                <br>
                <div [hidden]="hideErrors(makeDirective)">
                    <div [hidden]="hideError(makeDirective, 'required')"
                         class="alert alert-danger">
                         Make is required.
                    </div>
                    <div [hidden]="hideError(makeDirective, 'minlength')"
                         class="alert alert-danger">
                         Make needs to be at least 3 characters long.
                    </div>
                </div>
                <br>
                <div class="form-group" [ngClass]="setErrorClass(modelDirective)">
                    <label class="control-label" for="vehicleModel">Model</label>
                    <input [ngModel]="vehicle.model" #modelDirective="ngModel"
                        class="form-control" type="text"
                        id="vehicleModel" name="model"
                        placeholder="enter model"
                        required minlength="3"
                        #modelControl>
                </div>
                <br>
                <div [hidden]="hideErrors(modelDirective)">
                    <div [hidden]="hideError(modelDirective, 'required')"
                         class="alert alert-danger">
                         Model is required.
                    </div>
                    <div [hidden]="hideError(modelDirective, 'minlength')"
                         class="alert alert-danger">
                         Model needs to be at least 3 characters long.
                    </div>
                </div>
                <br>
                <div class="form-group" [ngClass]="setErrorClass(yearDirective)">
                    <label class="control-label" for="vehicleYear">Year</label>
                    <input [ngModel]="vehicle.year" #yearDirective="ngModel"
                        class="form-control" type="text"
                        id="vehicleYear" name="year"
                        placeholder="enter year"
                        required minlength="4"
                        #yearControl>
                </div>
                <br>
                <div [hidden]="hideErrors(yearDirective)">
                    <div [hidden]="hideError(yearDirective, 'required')"
                         class="alert alert-danger">
                         Year is required.
                    </div>
                    <div [hidden]="hideError(yearDirective, 'minlength')"
                         class="alert alert-danger">
                         Year needs to be 4 characters long.
                    </div>
                </div>
                <br>
                <div class="form-group" [ngClass]="setErrorClass(purchasedDirective)">
                    <label class="control-label" for="vehiclePurchased">Purchase Date</label>
                    <input [ngModel]="vehicle.purchased" #purchasedDirective="ngModel"
                        class="form-control" type="date"
                        id="vehiclePurchased" name="purchased"
                        placeholder="enter purchase date"
                        #purchasedControl>
                </div>
                <br>
                <div [hidden]="hideErrors(purchasedDirective)">
                    <div [hidden]="hideError(purchasedDirective, 'required')"
                         class="alert alert-danger">
                         Purchase date is required.
                    </div>
                </div>
            </div>

            <div class="btn-group">
                <button class="btn btn-info btn-sm">Save</button>
                <a class="btn-cancel" href="" [routerLink]="['/mileages']">cancel</a>
            </div>
        </div>
    </div>
</form>
