<form #mileageForm="ngForm" class="mileage-form" (ngSubmit)="onSave(mileageForm)">
    <div class="thumbnail" >
        <div class="caption">
            <div *ngIf="vehicles">
                <p>Choose Vehicle to Add MPG for:</p>
                <select [ngModel]="selectedVehicle" (ngModelChange)="onChange($event)" name="vehicleSelector">
                    <option [ngValue]="vehicle" *ngFor="let vehicle of vehicles">{{vehicle.name}}</option>
                </select>
            </div>
            <br>
            <div ngModelGroup="newMileage">
                <div class="form-group">
                    <label class="control-label" for="">Mileage</label>
                    <input ngModel
                        class="form-control" type="number"
                        pattern="^[0-9]*$"
                        id="mileage" name="mileage"
                        placeholder="enter mileage" autofocus
                        required minlength="0"
                        step="1"
                        OnlyNumber="true"
                        autocomplete="off" autocorrect="off"
                        #mileageControl="ngModel">
                </div>
                <br>
                <div *ngIf="mileageControl.invalid && (mileageControl.dirty || mileageControl.touched)"
                    class="alert alert-danger">
                    <div *ngIf="mileageControl.errors.required">
                         Mileage is required.
                    </div>
                    <div *ngIf="mileageControl.errors.minlength">
                         Mileage needs to be at least 1 digit long.
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <label class="control-label" for="gallons">Gallons</label>
                    <input [ngModel]="newMileage.gallons"
                        class="form-control" type="number"
                        pattern="^[0-9]*$"
                        id="gallons" name="gallons"
                        placeholder="enter gallons"
                        required minlength="0"
                        step="any"
                        OnlyNumber="true"
                        autocomplete="off" autocorrect="off"
                        #gallonsControl="ngModel">
                </div>
                <br>
                <div *ngIf="gallonsControl.invalid && (gallonsControl.dirty || gallonsControl.touched)"
                    class="alert alert-danger">
                    <div *ngIf="gallonsControl.errors.required">
                         Gallons is required.
                    </div>
                    <div *ngIf="gallonsControl.errors.minlength">
                         Gallons needs to be at least 1 digit long.
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <label class="control-label" for="totalCost">Total Cost</label>
                    <input [(ngModel)]="newMileage.totalCost"
                        (blur)="validateAndUpdateCurrency()"
                        class="form-control" type="number"
                        pattern="^[0-9]*(\.[0-9]{1,2})?$"
                        id="totalCost" name="totalCost"
                        placeholder="enter total cost"
                        required minlength="0"
                        autocomplete="off" autocorrect="off"
                        #totalCostControl="ngModel">
                </div>
                <br>
                <div *ngIf="totalCostControl.invalid && (totalCostControl.dirty || totalCostControl.touched)"
                    class="alert alert-danger">
                    <div *ngIf="totalCostControl.errors.required">
                         Total Cost is required.
                    </div>
                    <div *ngIf="totalCostControl.errors.minlength">
                         Total Cost needs to be at least 1 digit long.
                    </div>
                </div>
            </div>

            <div class="btn-group">
                <button class="btn btn-info btn-sm" [disabled]="!mileageForm.form.valid">Save</button>
                <a class="btn-cancel" href="" [routerLink]="['/mileages', vid]">cancel</a>
            </div>
        </div>
    </div>
</form>
