<form #mileageForm="ngForm" class="mileage-form" (ngSubmit)="onSave(mileageForm)">
    <div class="thumbnail" >
        <div class="caption">
            <div *ngIf="vehicles">
                <p>Choose Vehicle to Add MPG for:</p>
                <select [ngModel]="selectedVehicle" (ngModelChange)="onChange($event)" name="vehicleSelector">
                    <option [ngValue]="vehicle" *ngFor="let vehicle of vehicles">{{vehicle.name}}</option>
                </select>
            </div>
            <br>
            <div ngModelGroup="newMileage">
                <div class="form-group" [ngClass]="setErrorClass(mileageDirective)">
                    <label class="control-label" for="">Mileage</label>
                    <input ngModel #mileageDirective="ngModel"
                        class="form-control" type="number"
                        id="mileage" name="mileage"
                        placeholder="enter mileage" autofocus
                        required minlength="1"
                        step="1"
                        #mileageControl>
                </div>
                <br>
                <div [hidden]="hideErrors(mileageDirective)">
                    <div [hidden]="hideError(mileageDirective, 'required')"
                         class="alert alert-danger">
                         Mileage is required.
                    </div>
                    <div [hidden]="hideError(mileageDirective, 'minlength')"
                         class="alert alert-danger">
                         Mileage needs to be at least 1 character long.
                    </div>
                </div>
                <br>
                <div class="form-group" [ngClass]="setErrorClass(gallonsDirective)">
                    <label class="control-label" for="gallons">Gallons</label>
                    <input [ngModel]="newMileage.gallons" #gallonsDirective="ngModel"
                        class="form-control" type="number"
                        id="gallons" name="gallons"
                        placeholder="enter gallons"
                        required minlength="1"
                        step="any"
                        #gallonsControl>
                </div>
                <br>
                <div [hidden]="hideErrors(gallonsDirective)">
                    <div [hidden]="hideError(gallonsDirective, 'required')"
                         class="alert alert-danger">
                         Gallons is required.
                    </div>
                    <div [hidden]="hideError(gallonsDirective, 'minlength')"
                         class="alert alert-danger">
                         Gallons needs to be at least 1 characters long.
                    </div>
                </div>
                <br>
                <div class="form-group" [ngClass]="setErrorClass(costDirective)">
                    <label class="control-label" for="totalCost">Total Cost</label>
                    <input [ngModel]="newMileage.totalCost" #costDirective="ngModel"
                        class="form-control" type="number"
                        id="totalCost" name="totalCost"
                        placeholder="enter total cost"
                        required minlength="1"
                        step="any"
                        #modelControl>
                </div>
                <br>
                <div [hidden]="hideErrors(costDirective)">
                    <div [hidden]="hideError(costDirective, 'required')"
                         class="alert alert-danger">
                         Total cost is required.
                    </div>
                    <div [hidden]="hideError(costDirective, 'minlength')"
                         class="alert alert-danger">
                         Total cost needs to be at least 1 character long.
                    </div>
                </div>
            </div>

            <div class="btn-group">
                <button class="btn btn-info btn-sm">Save</button>
                <a class="btn-cancel" href="" [routerLink]="['/mileages', vid]">cancel</a>
            </div>
        </div>
    </div>
</form>
