<div class="container">

    <div class="page-header">
        <h1>MPGTracker</h1>
        <div class="lead">
            <a [routerLink]="['/addMileage', selectedVehicle.id]"><button style="width:200px">Add New MPG</button></a>
            &nbsp;&nbsp;&nbsp;
            <a [routerLink]="['/addVehicle']"><button style="width:200px">Add a new vehicle</button></a>
            &nbsp;&nbsp;&nbsp;
            <a [routerLink]="['/logout']"><button style="width:200px">Logout</button></a>
            <br/>
            <br/>
            <div *ngIf="vehicles">
                <select [ngModel]="selectedVehicle" (ngModelChange)="onChange($event)" name="vehicleSelector">
                    <option [ngValue]="vehicle" *ngFor="let vehicle of vehicles">{{vehicle.name}}</option>
                </select>
                &nbsp;&nbsp;&nbsp;
                <button (click)="toggleVehicleEdit(selectedVehicle)">Edit Vehicle</button>
            
                <vehicle-form [vehicle]="selectedVehicle" (cancel)="toggleVehicleEdit($event)" (save)="saveVehicle($event)"></vehicle-form>
            
                <div *ngIf="selectedVehicle.editing">Editing vehicle: {{selectedVehicle.name}}</div>
            </div>
        </div>
    </div>
    <div *ngIf="selectedVehicle">
        <vehicle-mileage [vid]="selectedVehicle.id"></vehicle-mileage>
    </div>
</div>