@if (vehicles) {
  <div>
    <select [ngModel]="mainApp.selectedVehicle" (ngModelChange)="onChange($event)" name="vehicleSelector">
      @for (vehicle of vehicles; track vehicle) {
        <option [ngValue]="vehicle">{{vehicle.name}}</option>
      }
    </select>
    &nbsp;&nbsp;&nbsp;
    <button (click)="toggleVehicleEdit(mainApp.selectedVehicle)">Edit Vehicle</button>
    <button (click)="toggleVehicleStats()">Stats</button>
    <!--<button [routerLink]="['/vehicleStats', (mainApp.selectedVehicle != undefined ? mainApp.selectedVehicle.id : '')]">Stats</button>-->
    <button [routerLink]="['/addMileage', (mainApp.selectedVehicle != undefined ? mainApp.selectedVehicle.id : '')]">Add New MPG</button>
    @if (mainApp.selectedVehicle != undefined && mainApp.selectedVehicle.editing) {
      <div>
        <vehicle-form [vehicle]="mainApp.selectedVehicle" (cancel)="toggleVehicleEdit($event)" (save)="saveVehicle($event)"></vehicle-form>
      </div>
    }
    @if (mainApp.selectedVehicle != undefined && mainApp.showingStats) {
      <div>
        <vehicle-stats [vid]="mainApp.selectedVehicle.id"></vehicle-stats>
      </div>
    }
  </div>
}
@if (mainApp.selectedVehicle) {
  <div>
    <vehicle-mileage [vid]="mainApp.selectedVehicle.id"></vehicle-mileage>
  </div>
}